*.g.dart -diff
*.svg -diff
*.png -diff
*.lock -diff
*.xcconfig -diff
ios/Runner.xcodeproj/* -diff
ios/Runner.xcworkspace/* -diff
lib/generated/* -diff
ios/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json -diff
android/app/src/main/res/drawable -diff
*.idea/* -diff
